*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/caches/
.DS_Store
/*/build
/captures
/app/release/
/app/debug/
/app/.settings/
build/

# esto me lo crea emacs a veces
.project
.settings/
